# database config
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=
DB_DIALECT=

# global config
NODE_ENV=
PORT=
BASE_URL=
JWT_SECERET=
JWT_EXPIRES_IN=
JWT_REFRESH_SECERET=
JWT_REFRESH_EXPIRES_IN=

# mail config
MAIL_SERVICE=
MAIL_USER=
MAIL_PASS=
MAIL_FROM=